<div>
    <h3>Crear Transacción</h3>
    <form [formGroup]="transaccionForm" (ngSubmit)="guardarTransaccion()" class="formulario-contenido">

        <!-- <div class="contenido"> -->
            <label for="fecha">Fecha</label>
            <p-calendar formControlName="fecha"/>

            <label for="tipoTransaccion">Tipo Transacción</label>
            <p-listbox [options]="tipoTransaccionLista" formControlName="tipoTransaccion" optionLabel="nombre" [filter]="true"
                [style]="{ width: '50%', 'margin-bottom': '1rem' }" [listStyle]="{'max-height': '200px' }" />

            <label for="producto">Producto</label>
            <p-listbox [options]="productos" formControlName="producto" optionLabel="nombre" [filter]="true"
                [style]="{ width: '50%', 'margin-bottom': '1rem' }" [listStyle]="{'max-height': '200px' }" (onChange)="SeleccionaProducto($event)" />

            <label for="precioUnitario">Precio Unitario</label>
            <input type="number" placeholder="Precio Unitario" formControlName="precioUnitario" [disabled]="true">

            <label for="cantidad">Cantidad</label>
            <input type="number" placeholder="cantidad" formControlName="cantidad" (input)="calculaPrecioTotal()">
            
            <label for="precioTotal">Precio Total</label>
            <input type="number" placeholder="Precio Total" formControlName="precioTotal" [disabled]="true">
            
            <label for="detalle">Detalle</label>
            <input type="text" placeholder="Detalle" formControlName="detalle">

            <button type="submit" pButton pRipple label="GUARDAR" class="p-button-success" [disabled]="!transaccionForm.valid">
            </button>
        <!-- </div> -->
        <!-- <div class="contenido-img">

            <p-image *ngIf="imgPrevisualizar != ''" [src]="imgPrevisualizar" alt="imagen del producto seleccionado" width="350" [preview]="true" />

            <p-fileUpload mode="basic" chooseLabel="Cargar Imagen" chooseIcon="pi pi-upload" name="imagen"
                [url]="apiUrlImagen" accept="image/*" maxFileSize="50000000"
                (onUpload)="cargarImagen($event)"
                (onSelect)="seleccionaArchivo($event)"
                 />
        </div> -->

    </form>
</div>