:host {
  display: block;
  margin-top: 4px;
}

small {
  display: block;
  padding: 6px 10px;
  border-radius: 6px;
  background: #fdecea;
  color: #b71c1c;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1rem;
}

:host-context(.ng-invalid.ng-touched) input {
  border: 1px solid #dc3545;
}