<div class="container">
    <!-- Botón hamburguesa solo en móvil -->
    <button class="menu-toggle" (click)="toggleMenu()">
        ☰
    </button>

    <!-- Fondo oscuro al abrir menú en móvil -->
    <div class="overlay" *NgIf="menuAbierto" (click)="cerrarMenu()"></div>

    <aside class="sidebar" [class.sidebar-open]="menuAbierto">
        <nav>
            <a routerLink="home" routerLinkActive="active" (click)="cerrarMenu()">Inicio</a>

            <a routerLink="producto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"
                (click)="cerrarMenu()">
                Producto
            </a>
            <ul class="submenu">
                <li><a routerLink="producto/productos-crear" routerLinkActive="active" (click)="cerrarMenu()">Crear</a>
                </li>
                <li><a routerLink="producto/productos-ver" routerLinkActive="active" (click)="cerrarMenu()">Ver</a></li>
                <li><a routerLink="producto/productos-categorias" routerLinkActive="active"
                        (click)="cerrarMenu()">Categorias</a></li>
            </ul>

            <a routerLink="transaccion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"
                (click)="cerrarMenu()">
                Transacciones
            </a>
            <ul class="submenu">
                <li><a routerLink="transaccion/transaccion-crear" routerLinkActive="active"
                        (click)="cerrarMenu()">Crear</a></li>
                <li><a routerLink="transaccion/transaccion-ver" routerLinkActive="active" (click)="cerrarMenu()">Ver</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main class="content">
        <div class="tarjeta-contenido">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>