.formulario-contenido {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

.tabla-responsive {
    width: 100%;
    overflow-x: auto;
}

@media (max-width: 768px) {
    .tabla-responsive {
        padding: 0.5rem;
    }
}

:host:has(app-error-control.input-error) input {
  margin-bottom: 0;
}