<div>
    <h3>Crear Producto</h3>
    <form [formGroup]="productoForm" (ngSubmit)="guardarProducto()" class="formulario-contenido">
        <div class="grupo-principal">
            <div class="contenido">
                <label for="nombre">Nombre</label>
                <input type="text" placeholder="Nombre Producto" formControlName="nombre">
                <app-error-control
                    [form]="productoForm"
                    controlName="nombre"
                    label="Nombre"
                    [class.input-error]="errorControlValidador.controlInvalido(productoForm, 'nombre')">
                </app-error-control>

                <label for="descripcion">Descripción</label>
                <input type="text" placeholder="Descripción" formControlName="descripcion">
                <app-error-control
                    [form]="productoForm"
                    controlName="descripcion"
                    label="Descripción"
                    [class.input-error]="errorControlValidador.controlInvalido(productoForm, 'descripcion')">
                </app-error-control>

                <label for="categoria">Categoría</label>
                <!-- <input type="text" placeholder="Categoría" formControlName="categoria"> -->
                <p-listbox [options]="categorias" formControlName="categoria" optionLabel="nombre" [filter]="true"
                    [style]="{ width: '50%', 'margin-bottom': '1rem' }" [listStyle]="{'max-height': '200px' }" />
                <app-error-control
                    [form]="productoForm"
                    controlName="categoria"
                    label="Categoría"
                    [class.input-error]="errorControlValidador.controlInvalido(productoForm, 'categoria')">
                </app-error-control>
                

                <label for="precio">Precio</label>
                <input type="number" placeholder="precio" formControlName="precio" (input)="FormateadoresClass.ingresaValorNumerico($event, productoForm, 'precio')">
                <app-error-control
                    [form]="productoForm"
                    controlName="precio"
                    label="Precio"
                    [class.input-error]="errorControlValidador.controlInvalido(productoForm, 'precio')">
                </app-error-control>

                <label for="stock">Stock</label>
                <input type="number" placeholder="stock" formControlName="stock">
                <app-error-control
                    [form]="productoForm"
                    controlName="stock"
                    label="Stock"
                    [class.input-error]="errorControlValidador.controlInvalido(productoForm, 'stock')">
                </app-error-control>

            </div>
            <div class="contenido-img">

                <p-image *ngIf="imgPrevisualizar != ''" [src]="imgPrevisualizar" alt="imagen del producto seleccionado"
                    width="350" [preview]="true" />

                <p-fileUpload 
                    #fileUploader 
                    class="btn-upload" 
                    mode="basic" 
                    chooseLabel="Cargar Imagen" 
                    chooseIcon="pi pi-upload"
                    name="imagen" 
                    accept="image/*" 
                    [customUpload]="true"
                    [auto]="false"
                    maxFileSize="50000000"
                    (onSelect)="seleccionaArchivo($event)"
                    (uploadHandler)="subirImagenManual()" 
                    (onError)="errorCargaImagen($event)">
                </p-fileUpload>
            </div>
        </div>
        <button type="submit" pButton pRipple label="GUARDAR" class="p-button-success btn-guardar"
            [disabled]="!productoForm.valid">
        </button>

    </form>
</div>